

#sample_image {
    display: none;
}

.drawing-area {
    position: relative;
    background: #85bf85;
    width: 1000px;
    height: 800px;
}
.drawing-area canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.tool-button.active {
    border: 1px solid blue;
}